* {
    /* 
    -May want to add "border-box for "box-sizing so padding does not affect width
    -Reset margin and padding 
   */
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  }

  body {
    /* 
      -Background color is #344a72
    */
    font-family: 'Raleway', sans-serif;
    background: #344a72;
  }

  a {
    /* 
    Underlined links are ugly :)
   */
   text-decoration: none;
  }

  #container {
    /* 
    -Remember, margin: auto on left and right will center a block element 
    -I would also set a "max-width" for responsiveness
    -May want to add some padding
    */
    max-width: 460px;
    margin: 15px auto;
    padding: 40px;
  }

  .form-wrap {
    /* 
      This is the white area around the form and heading, etc
    */
    background: #fff;
    padding: 15px 30px;
  }

  .form-wrap h1,
  .form-wrap p {
    /* 
      May want to center these
    */
    text-align: center;
    margin-bottom: 10px;
  }

  .form-wrap .form-group {
    /* 
      Each label, input is wrapped in .form-group
    */
    margin-bottom: 10px;
  }

  .form-wrap .form-group label {
    /* 
      Label should be turned into a block element
    */
    display: block;
    margin-bottom: 5px;
  }

  .form-wrap .form-group input {
    /* 
      Inputs should reach accross the .form-wrap 100% and have some padding
    */
    width: 100%;
    height: 30px;
    /* padding: 1px; */
    border: #ddd 1px solid;
    border-radius: 2px;
  }

  .form-wrap button {
    /* 
      Button should wrap accross 100% and display as block
      Background color for button is #49c1a2
    */
    display: block;
    margin-top: 15px;
    height: 30px;
    width: 100%;
    padding: 5px;
    background: #49c1a2;
    color: #fff;
    /* font-weight: bold; */
    font-size: 15px;
    cursor: pointer;
  }

  .form-wrap button:hover {
    /* 
      Hover background color for button is #37a08e
    */
    background: #37a08e;
  }

  .form-wrap .bottom-text {
    /* 
      Bottom text is smaller
    */
    margin: 10px 0px;
    font-size: 13px;
  }

  footer {
    /* 
    Should be centered
   */
   margin-top: 10px;
   color: #fff;
   font-size: 15px;
   text-align: center;
  }

  footer a {
    /* 
      Footer link color is #49c1a2
    */
    color: #49c1a2;
  }