/* general text formatting */

* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 30px auto;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   background-color: #f4f4f4;
}

#video_area {
  /* background: #a8a8a8; */
  font-size: 0.75rem;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
}

.idented_area {
    width: 50%;
    margin: auto;
}

#content_table {
  margin-bottom: 15px;
}

#timepoints {
  padding: 3px 2px;
  margin-bottom: 50px;
}

.btn {
  display: inline;
  font-size: 12px;
  color: #fff;
  background: #80bfff;
  padding: 4px 16px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #808fff;
  color: #333;
}

.video_box {
  border: 1px solid #ddd;
  background: #f4f4f4;
  padding: 10px;
  margin: 20px auto;
  width:580px;
}

#content_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 460px;
}

#content_table td, #content_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#content_table tr:nth-child(even){background-color: #f2f2f2;}

#content_table tr:hover {background-color: #ddd;}

#content_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #80bfff;
  color: white;
}

div#today_date {
  font-size: 12px;
  color: #80bfff;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #content_table {
      width: 90%;
    }

    body {
       font-size: 12px;
    }
}
