/* general text formatting */

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
}

body:lang(zh-Hant) 	{font-family:STFangsong, Calibri, Avenir, Constantia, sans-serif, "Trebuchet MS", Helvetica, Arial;}
body:lang(zh-Hans) 	{font-family:STFangsong, Calibri, Avenir, Constantia, sans-serif, "Trebuchet MS", Helvetica, Arial;}

/* .container {
  max-width: 960px;
  margin: auto;
} */

div#menuBox {
   margin: 0em auto;
   margin-top: 1em;

   background-image: url("./images/banner.jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center center;

   position: relative;

   height: 18vw;
   width: 85%;
}

div#infoTableBox, div#controlPanelBox{
   margin: 0em auto;
   border-top: 1.8pt solid #a7a7a6;

   background: url("images/content_background.jpg") no-repeat;
   background-size: auto 100% 100%;
   background-repeat: repeat;
   width: 85%;
}

#switchLanguageDropDownMenu {
 float:right;
 margin-right:0.6vw;
 margin-top: 0.2vw;
}

#switchLanguageDropDownMenuIcon {
    /* width: 2.2vw;
    height: 2.2vw; */

    /*some magic to make height always equal to width.*/
    height: 0;
    padding-top: 2.2vw;
    width: 2.2vw;

    border:none;
    background-color: Transparent;
    background-image: url('https://zhugegy.github.io/cv/images/switch_language.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.switchLanguageDropDownContent {
  display: none;
  position: absolute;
  right: 0;
  min-width: 11.8vw;
  font-size: 1vw;
  box-shadow: 0.4vw 1vw 1vw 0vw rgb(193, 195, 195);
  /* z-index: 1; */
}

.switchLanguageDropDownContent a {
  color: #684635;
  padding: 0.2vw 1vw;
  text-decoration: none;
  text-align: right;
  display: block;
}

.switchLanguageDropDownContent a:hover {background-color: #f5f7f7;}

#switchLanguageDropDownMenu:hover .switchLanguageDropDownContent {display: block;}

#switchLanguageDropDownMenu:hover #switchLanguageDropDownMenuIcon {
  background-image: url('https://zhugegy.github.io/cv/images/switch_language_hover.png');
  }


ul#menuItemsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: absolute;
  bottom: 0;
  left: 8vw;
}

li.menuItem {
  float: left;
  padding-left:1vw;
  padding-right:1vw;

  /* Another approach: control the width of the li
  //display:inline;

  //display: inline-block;
  //width  : 100px;
  */
}

li.menuItem:hover
{background-color: #a7a7a6;}

li.menuItem a {
  display: block;
  padding: 0;
}

li.menuItem a img{
  height:3vw;
}

.tabContentHeading {
  font-size: 1.8vw;
  margin-left: 18vw;
}

table.tabContentTable, th, td{
  margin-left: 18vw;
  line-height: 1.4em;
  width: 47vw;
  font-size: 1vw;
  padding: 0.2vw;

  border-collapse: collapse;
  border-bottom: 1px solid rgb(167, 167, 167);

  border-bottom: 1px solid rgba(167, 167, 167, .15);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

  /* border: 1px solid black; */
}

td.tabContentTable_lineTitle{
  width: 15vw;
  font-weight: bold;
}

td.font_bigger{
  font-size: 1.8vw;
}

td.timestamp_width{
  width: 5vw;
  vertical-align:top;
}

tr.clickabletr {
    cursor: pointer;
}

tr.darktr {
  background-color: #BBBBBB;
}

tr.light_darktr {
  background-color: #DDDDDD;
}

tr.hiddentr {
    display: none;
  }

.hiddenspan{
  display: none;
}

.hiddentbody{
  display: none;
}

tr td img {
    width: 10px;
  }

.bookcover {
  min-width: 68%;
  display: block;
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
}

.embeddedvideo {
  /* min-width: 90%;
  min-height: 360px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.bookcoverdual {
  min-width: 86%;
}

#WeChatQRImage {
  width: 20vw;
}

td.intensiveInfo {
  font-size: 0.95vw;
  /* font-size: 8px; */
  /* line-height: 1.6em; */
}

td.intensiveInfo p{
  margin: 3px 0;
}

.tableHeadingNotes {
  font-size: 1vw;
  font-weight: normal;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    /* background-color: #555555; */
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipimg
{
    width:23vw;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.starchecked {
  color: orange;
}

.starunchecked {
  color: grey;
}

#label-group-control-container {
  padding: 10px 10px;
}

#label-group-control-container #user-search-input {
  padding: 2px 2px;
  font-size: 14px;
  width: 240px;
  margin-bottom: 8px;
  /* margin-right: 20px; */
}

.UserSearchedKeywords {
  color: red;
}

.label-group-control {
  margin-bottom: 8px;
}

.label-group-control .clickable {
  cursor: pointer;
}

.label-group-control .clickable:hover {
  /* color: #E75481;
  background-color: #f3f3f3; */
  /* box-shadow: 2px 3px rgb(178, 178, 178); */
  box-shadow: 3px 4px #666;
}

.label {
  color: white;
  padding: 0.6px 0.8px;
  margin: 0.2px 0.2px;
  font-family: Arial;
  white-space:nowrap;
  line-height: 1.4em;
  /* padding-left: 0;
  margin-left: 0; */
}

.label-entry-type {background-color: #00aedc;} 
.label-feature {background-color: #8b69d5;}
.label-programming-language {background-color: #009257;} 
.label-technology-framework {background-color: #115566;}
.label-platform {background-color: #f89d0e;}


/* .label-entry-type {background-color: #f89d0e;} 
.label-feature {background-color: #009257;}
.label-programming-language {background-color: #00aedc;} 
.label-technology-framework {background-color: #115566;}
.label-platform {background-color: #8b69d5;} */


.label-selected {
  color: #333;
  /* font-weight: bolder; */
  /* text-shadow: 0 0 3px #f4f4f4, 0 0 5px #0000FF; */
  background-color: #E75481;
  box-shadow: 2px 2px #666;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .tooltip .tooltiptext {
        margin-left: 5px;
    }

    .tooltip .tooltiptext::after {
        margin-left: 5px;
    }
}

/* for progress bar style*/
.grey-whole-bar {
  color:#000!important;
  background-color:#f1f1f1!important;
  display: inline-flex;
  width: 24vw;
  font-size: 0.8vw;
}

.subbar {
  color:#fff!important;
  border-style: ridge;
  border: 1px #ddd solid;
  border-top: none;
  border-bottom: none;
  /* border-left: none; */
  text-align:center;
  margin-top: 5px;
}

.green {
  background-color:#3c8dde!important;
}

.grey {
  background-color:#9e9e9e!important;
}

.greengrey-20 {
  background:linear-gradient(90deg, #3c8dde 20%, #9e9e9e 20%);
}

.greengrey-40 {
  background:linear-gradient(90deg, #3c8dde 40%, #9e9e9e 40%);
}

.greengrey-50 {
  background:linear-gradient(90deg, #3c8dde 50%, #9e9e9e 50%);
}

.greengrey-60 {
  background:linear-gradient(90deg, #3c8dde 60%, #9e9e9e 60%);
}

.greengrey-80 {
  background:linear-gradient(90deg, #3c8dde 80%, #9e9e9e 80%);
}

.discovery {
	width:27%
}

.understanding {
	width:56%
}

.summary {
	width:17%
}

