/* general text formatting */

body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 1vw;
}

div#menuBox {
   margin: 0em auto;
   margin-top: 1em;

   background-image: url('https://zhugegy.github.io/resume/images/banner.png');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center center;

   height: 240px;
   width: 85%;
}

div#tabContentBox {
   margin: 0em auto;
   border-top: 0.5pt solid #020b17d9;

   background-image: url("images/content_background.png");
   background-size: 100% 100%;
   background-repeat: repeat-y;
   background-position: center center;

   width: 85%;
}

ul#menuItemsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: absolute;
  bottom: 0;
  left: 8vw
}

li.menuItem {
  float: left;
  padding-left:1vw;
  padding-right:1vw;
  
  /* Another approach: control the width of the li
  //display:inline;
 
  //display: inline-block;
  //width  : 100px;
  */
}

li.menuItem:hover 
{background-color: #9f9f9ea8;}

li.menuItem a {
  display: block;
  padding: 0;
}

li.menuItem a img{
  height:3vw;
}

.tabContentHeading {
  font-size: 2.5vw;
  text-align:center;
}


table.tabContentTable, th, td{
  margin-left: 18vw;
  
  width: 65vw;
  font-size: 1.2vw;

  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
   
  //border: 1px solid black;
}

td.tabContentTable_lineTitle{
  width: 15vw;
}


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}



#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}