/* general text formatting */

body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 1vw;
}

div#menuBox {
   margin: 0em auto;
   margin-top: 1em;

   background-image: url('https://zhugegy.github.io/resume/images/banner.png');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center center;

   height: 240px;
   width: 85%;
}

div#infoTableBox {
   margin: 0em auto;
   border-top: 1.8pt solid #a7a7a6;

   background-image: url("images/content_background.png");
   background-size: 100% 100%;
   background-repeat: repeat-y;
   background-position: center center;

   width: 85%;
}

#switchLanguageDropDownMenu {
 float:right;
 margin-right:0.6vw; 
 margin-top: 0.2vw; 
}

#switchLanguageDropDownMenuIcon {
    height: 2.2vw;  
    width: 2.2vw;

    border:none;
    background-color: Transparent;
    background-image: url('https://zhugegy.github.io/resume/images/switch_language.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.switchLanguageDropDownContent {
  display: none;
  position: absolute;
  right: 0;
  min-width: 11.8vw;
  font-size: 1vw;
  box-shadow: 0.4vw 1vw 1vw 0vw rgb(193, 195, 195);
  /* z-index: 1; */
}

.switchLanguageDropDownContent a {
  color: #684635;
  padding: 0.2vw 1vw;
  text-decoration: none;
  text-align: right;
  display: block;
}

.switchLanguageDropDownContent a:hover {background-color: #f5f7f7;}

#switchLanguageDropDownMenu:hover .switchLanguageDropDownContent {display: block;}

#switchLanguageDropDownMenu:hover #switchLanguageDropDownMenuIcon {
  background-image: url('https://zhugegy.github.io/resume/images/switch_language_hover.png');
  }


ul#menuItemsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: absolute;
  bottom: 0;
  left: 8vw
}

li.menuItem {
  float: left;
  padding-left:1vw;
  padding-right:1vw;
  
  /* Another approach: control the width of the li
  //display:inline;
 
  //display: inline-block;
  //width  : 100px;
  */
}

li.menuItem:hover 
{background-color: #a7a7a6;}

li.menuItem a {
  display: block;
  padding: 0;
}

li.menuItem a img{
  height:3vw;
}

.tabContentHeading {
  font-size: 2.5vw;
  margin-left: 18vw;
}


table.tabContentTable, th, td{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 18vw;
  
  width: 47vw;
  font-size: 1.2vw;
  padding: 0.6vw;

  border-collapse: collapse;
  border-bottom: 1px solid #a7a7a687;
   
  //border: 1px solid black;
}

td.tabContentTable_lineTitle{
  width: 15vw;
  font-weight: bold;
}